.btns{
    border:1px solid #0275d8;
    width: 150px;
    height: 40px; 
    background: #0275d8;
    color: white;
    border-radius: 5px;
    margin: 0 5px;
    padding: 10px;
    text-align: center;
    box-sizing: border-box;

}
.prev{
    background: #fff;
    border:2px solid #0275d8;
    color: #0275d8;
}
/* body{
    /* background: cadetblue; */
} */
.btns:active{
    background: #eee;
}
.pageBtn{
    display: flex;
    justify-content: center;
    margin-top: 30px;

}
h2{
    text-align: center;
    border:1px solid #d9534f;
}
.data{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    flex-direction: column;
    height: 80vh;
}

 h2{
     width: 70%;
     height: 50px;
     margin: 5px 5px;
     padding: 10px ;
     box-sizing: border-box;
     border-radius: 10px;
    background: #F3f3f3;
    color: #000;
    text-transform: uppercase;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.4);

}